.infoContent {
    width: 100%;
    background-color: rgb(237, 225, 212);
    height: calc(80vh - 7.8px);
    overflow-y: scroll;
    
}

.infoContent p {
    text-align: left;
        line-height: 0.5;
    font-size: x-small;
}
    

.infoContent h3 {
    text-align: left;
        line-height: 1;
    font-size: small;
}